<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{ include.head_meta }}
    <title>{{ site.title | smartify }}{% if page.title != nil %} | {{ page.title | smartify }}{% endif %}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}{% link assets/style.scss %}" />
    {{ include.head_other }}
  </head>

  <body>
    <nav id="main-navbar">
      <a href="{{ site.baseurl }}{% link index.html %}">
        <img src="{{ site.baseurl }}{% link assets/images/logo.jpg %}" alt="Morena Architects logo" id="main-logo" />
      </a>

      <menu>
        <li>
          <a href="{{ site.baseurl }}{% link chi-siamo.md %}" class="menu-link">Chi siamo</a>
        </li>

        <li>
          <a href="{{ site.baseurl }}{% link progetti.md %}" class="menu-link">Progetti</a>
        </li>

        <li>
          <a href="{{ site.baseurl }}{% link contatti.md %}" class="menu-link">Contatti</a>
        </li>
      </menu>
    </nav>

    {{ include.content }}
  </body>
</html>
