---
---

// General

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  box-sizing: content-box;
  margin: 0 auto;
  padding: 1em;
  max-width: 960px;
  color: hsl(0, 0%, 10%);
  font: 0.9em/1.5 sans-serif;

  @media (min-width: 576px) {
    font-size: 1em * (18px / 16px);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  color: #5A5B5B;
  text-decoration: none;

  &:hover {
    color: #F26722;
    text-decoration: underline;
  }
}

img {
  display: block;
  max-width: 100%;
}

sup,
sub {
  line-height: 0;
}

iframe {
  border: none;
}

// Utilities

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.cover {
  object-fit: cover;
}

// Horizontal definition list

dl.horizontal {
  > dt {
    float: left;
    font-weight: bold;

    &::after {
      content: ": ";
      font-weight: normal;
      white-space: pre;
    }
  }

  > dd {
    margin: 0;
  }
}

// Menu

menu {
  padding: 0;
  list-style: none;
  display: flex;
}

.menu-link {
  display: block;
  padding: 0.5em 1em;
}

// Carousel

.carousel {
  display: flex;
  overflow-x: hidden;
}

.carousel-item {
  flex: 0 0 100%;
  animation: ease-in-out infinite carousel-item-animation;
}

@keyframes carousel-item-animation {}

// Main navigation bar

#main-navbar {
  display: flex;
  gap: 2em;
  justify-content: space-between;
  align-items: center;

  .menu {
    margin: 0;
  }
}

#main-logo {
  max-height: 4em;
}
