---
layout: 'default'
---

<div style="display: flex; gap: 4em; align-items: baseline;">
  <div style="flex: 1 0;">
    {% if page.title != nil %}
      <h1>{{ page.title | smartify }}</h1>
    {% endif %}

    {% if page.data != nil %}
      <dl class="horizontal">
        {% for datum in page.data %}
          <dt>{{ datum.key | smartify }}</dt>

          {% if datum.type == 'list' %}
            <dd style="clear: left;">
              <ul style="list-style: none; padding: 0;">
                {% for value in datum.values %}
                  <li>{{ value }}</li>
                {% endfor %}
              </ul>
            </dd>
          {% else %}
            <dd>{{ datum.value | smartify }}</dd>
          {% endif %}
        {% endfor %}
      </dl>
    {% endif %}
  </div>

  <div style="flex: 2 0;">
    {{ content }}
  </div>
</div>

{% for image in page.images %}
  <img src="{{ image | relative_url }}" class="w-100" />
{% endfor %}
