---
layout: 'page'
---

<div style="display: flex; gap: 4em;">
  <div style="flex: 1 0;">
    {% if page.title != nil %}
      <h1>{{ page.title | smartify }}</h1>
    {% endif %}

    {% if page.data != nil %}
      <dl class="horizontal">
        {% for datum in page.data %}
          <dt>{{ datum.key | smartify }}</dt>
          <dd>{{ datum.value | smartify }}</dd>
        {% endfor %}
      </dl>
    {% endif %}
  </div>

  <div style="flex: 2 0;">
    {{ content }}
  </div>
</div>

{% for image in page.images %}
  <img src="{{ image | relative_url }}" />
{% endfor %}
